.Container-post {
  margin-top: 20vh;
  display: flex;
  align-items: center;
  flex-direction: column;
}
.inpur-area {
  display: block;
}
.buttons-area-input {
  margin-top: 6vh;
}
.input-file {
  display: none;
}
.label-file {
  background-color: #6441a5;
  border-radius: 5px;
  font-size: 20px;
  color: #fff;
  text-align: center;
  cursor: pointer;
  margin: 10px;
  padding: 40px 10vw;
}
.image-file {
  width: 50%;
  height: 10vh;
}
.text-file {
  color: #fff;
}
.button-file {
  appearance: none;
  -webkit-appearance: none;
  padding: 20px 10px;
  border: none;
  border-radius: 20px;
  font-weight: 600;
  color: #fff;
  background-color: #6441a5;
}
.img-area-file {
  margin-left: 35%;
  margin-top: 50px;
  padding: 10px 0px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #6441a5;
  width: 30%;
  border-radius: 10px;
  transition: 0.5s;
}
.button-file:hover {
  color: #6441a5;
  background-color: #fff;
}
